:root {
  --bg-color: #f3eeea;
  --hd-ft-color: #776b5d;
  --p-color: antiquewhite;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9 rem; /* Fixed font-size */
}

/* Start Body Styling */
body {
  background-color: var(--bg-color);
  margin: 0px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px 50px auto auto auto auto 40px;
  grid-template-areas:
    "header header header header header header header header"
    "logo logo navbar navbar navbar navbar navbar navbar"
    "section1 section1 section1 section1 section1 section1 section1 section1"
    "section2 section2 section2 section2 section2 section2 section2 section2"
    "section3 section3 section3 section3 section3 section3 section3 section3"
    "section4 section4 section4 section4 section4 section4 section4 section4"
    "footer footer footer footer footer footer footer footer";
}

/* End Body Styling */

#headerPH,
.logo,
nav,
main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Start Header Style */
#headerPH {
  grid-area: header;
  background-color: var(--hd-ft-color);
  grid-column: span 8;
  padding: 10px;
  color: var(--p-color);
}
.adv {
  width: 70%;
  color: var(--p-color);
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.dropdown {
  background-color: var(--hd-ft-color);
  border: none;
  border-radius: 10px;
}
.dropdown .toggler {
  color: var(--p-color);
  font-size: 12px;
}
.dropdown-menu .dropdown-item {
  font-size: 12px;
  color: var(--hd-ft-color);
}
/* End Header Style */

/* Additional styles for other grid areas */
.logo {
  grid-area: logo;
  grid-column: span 2;
  background-color: var(--bg-color);
  /* border-right: 0.5px solid #ccc8c4; */
  color: #776b5d;
  font-weight: bold;
  font-style: italic;
}

nav {
  grid-area: navbar;
  grid-column: span 6;
  background-color: var(--bg-color);
}
.search #search {
  background-color: transparent;
  border: 0.5px solid #ccc8c4;
}
.search #search::placeholder {
  padding: 2px;
  font-style: italic;
}
.nav-underline {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-underline li {
  margin-right: 20px;
}
.nav-underline li a {
  text-decoration: none;
  color: var(--hd-ft-color);
}
.nav-underline li a:hover {
  color: #b0a695;
}
.nav-underline li .act {
  color: var(--hd-ft-color);
  font-weight: bolder;
}
.nav-underline li .act:hover {
  color: #b0a695;
}
#search {
  margin: 0 30px 0 100px;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
}
nav .btn-light {
  margin-right: 10px;
  color: var(--hd-ft-color);
  background-color: #ebe3d5;
}
.bi-cart3,
.bi-person-circle {
  margin-left: 30px;
}
.bi-cart3 {
  color: var(--hd-ft-color);
}
.bi-cart3 sup {
  text-decoration: none;
  color: #776b5d;
  border-radius: 50%;
  padding: 2px;
  border: 0.5px solid #776b5d;
}
nav .btn-link {
  text-decoration: none;
  color: var(--hd-ft-color);
}
.dropdown-menu .profile {
  display: inline;
  font-size: 12px;
}
.first-section {
  grid-area: section1;
  display: grid;
  grid-template-columns: 1.5fr 6.5fr; /* Adjust as needed */
  grid-template-areas: "aside article";
  background-color: var(--bg-color);
  border-top: 0.5px solid #ccc8c4;
  height: auto; /* Adjust as needed */
}

.first-section aside {
  grid-area: aside;
  grid-column: span 1.5;
}
.first-section aside ul {
  line-height: 2;
  border-right: 0.5px solid #ccc8c4;
}
.categories {
  margin: 15px 10px;
}
.categories li {
  list-style: none;
  margin-top: 10px;
}
.categories a {
  text-decoration: none;
  color: var(--hd-ft-color);
}
/* .first-section article {
    grid-area: article;
    grid-column: span 6;
} */

footer {
  grid-area: footer;
  background-color: var(--hd-ft-color);
  grid-column: span 8;
}
article {
  grid-area: article;
  grid-column: span 6.5;
}
article .container {
  padding: 0 20px 2rem;
  border: none;
  border-radius: 6px;
  margin: 0 3.25rem 0 1rem;
  border-bottom: 0.5px solid #ccc8c4;
  width: 100%;
}
article .container .row {
  background-color: #f3e8dd;
  margin: 15px 0;
}
.row .product {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.product .card-info {
  width: 50%;
  padding: 2rem;
  color: var(--hd-ft-color);
}
.card-info .product-logo {
  width: 50px;
  height: 50px;
}
.product .card-info p {
  max-width: 100%;
  display: inline;
}
.product .card-photo {
  width: 100%; /* or any specific width you desire */
  text-align: center; /* this centers the image within the div */
}

.slide {
  position: relative;
}

/* Ensure the carousel container has a relative position */
.carousel {
  position: relative;
}

/* Style the carousel images with fixed width and height */
.carousel-inner .product-photo {
  max-width: 600px; /* Adjust as needed */
  max-height: 400px; /* Adjust as needed */
  object-fit: cover; /* Ensure the image covers the specified dimensions */
}

/* Style the carousel control buttons */
.slide .carousel-control-prev,
.slide .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #b0a695;
  opacity: 0.5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev {
  left: 5rem; /* Adjust the positioning */
}

.carousel-control-next {
  right: 5rem; /* Adjust the positioning */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
  background-size: 100%, 100%;
}

.second-section {
  background-color: var(--bg-color);
  grid-area: section2;
  grid-column: span 8;
  height: 500px;
}
.second-section .container {
  border: none;
  border-radius: 6px;
  border-bottom: 0.5px solid #ccc8c4;
}
.second-section .container .row {
  margin: 15px 2rem 15px 5rem;
  padding: 5px 0 5px 15px;
}
.second-section .container .row h5 {
  border-left: 5px solid #776b5d;
}
.second-section .sec2-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0;
  color: var(--hd-ft-color);
}
.cat-info {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.cat-info .cat {
  background-color: transparent;
  color: var(--hd-ft-color);
  padding: 2rem 1rem 5px 1rem;
  text-align: center;
  border: 0.5px solid #b0a695;
  line-height: 2;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  font-size: 0.8rem;
  text-decoration: none;
}
.cat-info .cat:hover {
  background-color: #776b5d;
  color: var(--bg-color);
}
.cat-info .cat svg {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.allcat-div {
  padding: 20px;
  padding-top: 30px;
  text-align: center;
}
.allcat-div a {
  border: 0.5px solid #776b5d;
  border-radius: 10px;
  color: var(--hd-ft-color);
}
.allcat-div a:hover {
  border: 0.5px solid #776b5d;
  border-radius: 10px;
  color: var(--bg-color);
  background-color: var(--hd-ft-color);
}
.left,
.right {
  background-color: var(--bg-color);
  color: var(--hd-ft-color);
  padding: 5px 8px;
  border: 0.5px solid #776b5d;
}
.left:hover,
.right:hover {
  background-color: #b0a695;
  color: var(--bg-color);
}
.third-section {
  background-color: var(--bg-color);
  grid-area: section3;
  grid-column: span 8;
  height: auto;
}
.third-section .container {
  border: none;
  border-radius: 6px;
  border-bottom: 0.5px solid #ccc8c4;
}
.third-section .container .row {
  margin: 15px 2rem 15px 5rem;
  padding: 5px 0 5px 15px;
}
.third-section .container .row .head5 {
  border-left: 5px solid #776b5d;
}
.third-section .explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0;
  color: var(--hd-ft-color);
}
.left1,
.right1 {
  background-color: var(--bg-color);
  color: var(--hd-ft-color);
  padding: 5px 8px;
  border: 0.5px solid #776b5d;
}
.left1:hover,
.right:hover1 {
  background-color: #b0a695;
  color: var(--bg-color);
}
.third-section .product-info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.third-section .product-info .card {
  flex: 0 1 23%;
  margin: 2% 1%;
  box-sizing: border-box;
  height: 400px;
  background-color: transparent;
  border: 0.5px solid #776b5d;
  border-radius: 10px;
  color: var(--hd-ft-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card img {
  max-width: 200px;
  height: 300px;
  object-fit: cover;
}

.card a {
  margin: 10px;
  background-color: transparent;
  color: var(--hd-ft-color);
  border: 0.5px solid #776b5d;
}
.card a:hover {
  background-color: var(--hd-ft-color);
  color: var(--p-color);
  border: 0.5px solid #ebe3d5;
}

.card-body .count-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add,
.subtract {
  border: none;
  color: var(--hd-ft-color);
  font-weight: bold;
}
footer {
  grid-area: footer;
  background-color: var(--hd-ft-color);
  grid-column: span 8;
  color: var(--bg-color);
  height: max-content;
  padding: 20px 4rem;
}
.footer-section a {
  text-decoration: none;
  color: var(--bg-color);
}
.footer-section .social a {
  color: var(--bg-color);
  margin: 0 5px;
  font-size: 20px;
}
.footer-section .container a {
  color: var(--bg-color);
  text-decoration: none;
}
.footer-section .container .row a:hover {
  color: white;
  opacity: 1;
}
.footer-section .container .bordertop .copy {
  color: var(--bg-color);
}

/* footer .subscribe form{
    width: 25%;
    display: flex;
    flex-direction: column;
} */

.footer-newsletter input {
  background-color: transparent;
  border: 0.5px solid #ccc8c4;
}
.footer-newsletter input::placeholder {
  padding: 2px;
  font-style: italic;
  color: var(--bg-color);
}
.footer-newsletter input:focus {
  color: #776b5d;
  font-weight: bold;
}
.form-group button {
  margin-top: 10px;
  padding: 5px 10px;
  color: var(--hd-ft-color);
  background-color: #ebe3d5;
}
